ion-img.cover {
    width: 200px;
    margin: auto;
    border-radius: var(--border-radius);
}

.episodes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 75px);
    grid-gap: 10px;
    justify-content: center;
}

ion-list {
    margin-top: 12px;
    text-align: center;
    background-color: transparent !important;
}
