.episode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 45px;
    background-color: var(--ion-color-dark);
    /* background-color: var(--ion-color-dark); */
    border-radius: var(--border-radius);
    cursor: pointer;
}

.episode:active {
    filter: brightness(0.85);
    transform: scale(0.95)
}

.hide {
    display: none;
}

.show {
    display: block;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999999999999999999999999999999999;
}
